// Spacings
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 16px;
$spacing-xl: 20px;
$spacing-2xl: 24px;
$spacing-3xl: 28px;
$spacing-4xl: 32px;
$spacing-5xl: 48px;
$spacing-6xl: 64px;
