// Spacings
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-xl: 16px;
$spacing-2xl: 20px;
$spacing-3xl: 24px;
$spacing-4xl: 28px;
$spacing-5xl: 32px;
$spacing-6xl: 48px;
$spacing-7xl: 64px;