// ========
// Spacings
// ========
@import 'variables.spacings';

// ======
// Colors
// ======
@import 'variables.colors';

// ============
// Fonts, texts
// ============
$font-family-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-mono: Menlo, ui-monospace, "SFMono-Regular", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-base: $font-family-sans;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-base: $font-size-md;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-default: $font-weight-normal;
$line-height-sm: 1;
$line-height-md: 1.5;
$line-height-lg: 2;
$line-height-base: $line-height-md;
$font-color-base: darken($cool-gray-500, 5%);
$font-color-code: $purple-600;
$font-color-contrast: $cool-gray-900;
$font-color-muted: darken($cool-gray-300, 15%);
$font-color-danger: $danger-color;
$font-color-success: $success-color;
$font-color-primary: $primary-color;

// ========
// Headings
// ========
$heading-font-family: $font-family-base;
$heading-font-color: $font-color-contrast;
$heading-subtitle-font-color: $cool-gray-600;
$heading-line-height: $line-height-base;
$heading-sm-font-size: $font-size-base + 2px; 
$heading-sm-font-weight: $font-weight-bold;
$heading-md-font-size: $font-size-base + 8px;
$heading-md-font-weight: $font-weight-bold;
$heading-lg-font-size: $font-size-base + 18px;
$heading-lg-font-weight: $font-weight-extra-bold;
$heading-2lg-font-size: $font-size-base + 26px;
$heading-2lg-font-weight: $font-weight-extra-bold;

// ===========
// Transitions
// ===========
$transition-cubic: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
$transition-base: $transition-cubic;

// ==========
// Animations
// ==========
$animation-spin: spin 1s linear infinite;

// ======
// Radius
// ======
$radius-sm: 4px;
$radius-md: 6px;
$radius-lg: 8px;
$radius-base: $radius-md;

// =======
// Borders
// =======
$border-color-base: $cool-gray-300;

// ======
// Inputs
// ======
$input-height-sm: 38px;
$input-height-md: 42px;
$input-height-lg: 48px;
$input-height-base: $input-height-md;
$input-radius-sm: $radius-md;
$input-radius-md: $radius-md;
$input-radius-lg: $radius-lg;
$input-radius-base: $input-radius-md;
$input-border-color: $border-color-base;

// =======
// Buttons
// =======
$button-bg-primary: $primary-color;
$button-font-color: $white;
$button-font-color-outline: $font-color-contrast;
$button-font-weight: $font-weight-medium;
$button-border-size: 0;
$button-sm-height: $input-height-sm;
$button-sm-font-size: $font-size-sm;
$button-sm-radius: $input-radius-sm;
$button-sm-padding-vertical: 0;
$button-sm-padding-horizontal: $spacing-md;
$button-md-height: $input-height-md;
$button-md-font-size: $font-size-md;
$button-md-radius: $input-radius-md;
$button-md-padding-vertical: 0;
$button-md-padding-horizontal: $spacing-lg;
$button-lg-height: $input-height-lg;
$button-lg-font-size: $font-size-lg;
$button-lg-radius: $input-radius-lg;
$button-lg-padding-vertical: 0;
$button-lg-padding-horizontal: $spacing-xl;
